# Django
*.log
*.pot
*.pyc
pycache/
__pycache__/

# Environment variables
.env

# SQLite (if used)
db.sqlite3

# Virtual environment
appenv/
venv/
.env/

# Media and Static
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db